.login {
    margin-top: 7%;
    text-align: center;
}

.login .container {
    max-width: 400px;
}

input {
    margin-left: 8px;
}

h5 {
    margin-bottom: 25px;
}

input[type="button"] {
    margin-top: 10px;
}

#logo {
    width: 35%;
}
