.login {
    margin-top: 7%;
    text-align: center;
}

.login .container {
    max-width: 400px;
}

input {
    margin-left: 8px;
}

h5 {
    margin-bottom: 25px;
}

input[type="button"] {
    margin-top: 10px;
}

.branding-container {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

#logo {
    width: 100%;
}

#logo-spinner {
    width: 6rem;
    height: 6rem;
}