.app {
    margin: 20px;
}

.home-feature-list li {
    margin-bottom: 8px;
}

.fourzerofour {
    margin-top: 6%;
    text-align: center;
}

.fourzerofour .sokkasad {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
